body{
  background-image: url('https://ak0.picdn.net/shutterstock/videos/12889550/thumb/1.jpg?i10c=img.resize(height:160)');
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: cover;
  text-align: center;
}

.h3{
  font-size: 50px;
  padding: 0.5%;
}

.h1{
  font-size: 90px;
  color: #00004d;
}
.form{
  padding: 5%;
}
.footer {
  padding: 5%;
}
.nameOfsearch{
  font-size: 25px;
  color: #00004d;
}
.linkOfSearch {
  font-size: 20px;
}
